* {
    margin:0;
    padding:0;
}
html {
    background: #1f2225;
    color: white;
    font-family: 'Ubuntu', 'Jura', sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
header {
    padding: 20px 35px;
}
.underglow {
    background: linear-gradient(270deg, #6006fa, #ffb101);
    height: 10px;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 25px;
    font-weight: normal;
}
header h1, header h2 {
    width: 1250px;
    margin: 0 auto;
}

.content {
    width: 1250px;
    margin: 0 auto;
    /* background: #2b2f33; */
}

.content .yauss {
    font-size: 20px;
    text-align: center;
    padding: 50px 25px;
}
.content .yauss p {
    margin: 15px 0;
}
.content .yauss input[type='text'] {
    transition: all 0.2s;
    display: inline-block;
    font-family: 'Jura', sans-serif;
    margin: 30px;
    border-radius: 6px;
    width: 70%;
    font-weight: normal;
    font-size: 16px;
    background: #1f2225;
    box-shadow: 3px 3px 7px rgba(23, 23, 23, 0.5);
    color: rgb(210, 210, 210);
    border: 5px solid #2b2f33;
    padding: 10px 15px;
    outline: none;
	  height: 30px;
}

.content .yauss input[type='text']:focus {
	border: 5px solid #0693fa;
}

.content .yauss input[type='submit'] {    
    cursor: pointer;
    padding: 15px 75px;
    display: block;
    margin: 20px 0 15px;
    font-size: 22px;
    text-decoration: none;
    color: #ececec;
    outline: none;
    border: 0 solid;
    background: #2b2f33;
    text-align: center;
    box-shadow: 3px 3px 7px #131313;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
	background: repeating-linear-gradient(267deg,#6006fa,#017cff 50%,#6006fa);
    background-size: 200% 100%;
    display: inline-block;
    transition: all 0.15s;
    -webkit-transition: all 0.15s;
}
.content .yauss input[type='submit']:hover { 
    background-position: 100% 0;
    border-bottom: 5px solid white;
}
label {
    padding: 15px;
    border-radius: 6px;
    font-size: 18px;
    display: block;
    text-align: left;
    margin: 15px;
    margin-top: 50px;
}
label.success {
    background: #b5ffc7;
    border-left: 5px solid #28a745;
    border-right: 5px solid #28a745;
    color: #155724;
}
label.error {    
    background: #ffb5b5;
    border-left: 5px solid #a72828;
    border-right: 5px solid #a72828;
    color: #571515;
}
label.success a { color:#155724; font-weight: bold; }
label.error a { color:#571515; font-weight: bold; }

footer {
    text-align: center;
    z-index: 9;
    padding: 50px 0;
    margin: 0;
    position: relative;
}
footer a {
    text-align: center;
    padding: 15px;
    text-decoration: none;
    transition: all 0.15s;
    color: #0693fa;
}



@media screen and (max-width: 1250px) {

    header h1, header h2 {
        width: 90%;
        margin: 0 auto;
    }
    .content {
        width: 90%;
        margin: 0 auto;
        /* background: #2b2f33; */
    }
}
.qrlink {
    text-align: right;
    float: right;
}
#qrcode {
    background: white;
    height: 256px;
    width: 256px;
    margin: 40px auto 0;
    padding: 20px;
    display: none;
    border-radius: 10px;
}